/* Mixin */

/* Pueden sr con parametros */

/* Sin parametros */

@mixin titulosh {
    font-size: 50px;
    text-align: center;
}

@mixin tituloscel {
    font-size: 20px;
    text-align: center;
}

