@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import "variables";
@import "maps";
@import "extend";
@import "mixin";



* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Comienzo de Inicio */

/* Seccion Nav */

header {
  position: sticky;
  top: 0%;
  grid-area: nav;
  z-index: 2;
}

nav {
  width: 100%;
  height: 80px;
}

.navLogo img {
  margin: 25px 25px 25px 5px;
  width: 80px;
  height: 70px;
}

.btn {
  background-color: white;
  border: none;

  &:hover {
    background-color: #F1FFE7;
    color: #000;
  }
}

/* Seccion sobre nosotros */

.tituloNosotros {
  background-color: white;

  /* width: 100%;
  height: 30%; */
  margin: 0 0 20px 0;
  grid-area: nosotros;

  h1 {
    @include titulosh;
    padding: 20px 0 20px 0;
  }

}

.tittles2 {
  margin: 30px 0 0 60px;
  
}

.sobreNosotros {
  display: flex;

  .primerImg {
    width: 20%;
    height: 25%;
    box-shadow: 0 0 5px grey;
    margin: 0 50px 0 0;
  }

  .ask1{
    text-align: left;
    margin: 20px 50px 0 50px;
    font-size: $tam-fuente-textosp;
  }

  .segundaImg {
    width: 20%;
    height: 25%;
    box-shadow: 0 0 5px grey;
    margin: 20px 0 0 50px;
  }

  .ask2{
    text-align: left;
    margin: 20px 50px 0 50px;
    font-size: $tam-fuente-textosp;
  }

}

/* Seccion clientes */

.tituloClientes {
  background-color: white;
  width: 100%;
  height: 30%;
  margin: 50px 0 20px 0;
  grid-area: cliente;

  h2 {
    @include titulosh;
    padding: 0 0 80px 0;

    /* margin: 0 0 80px 0; */
  }
}

.clientes {
  text-align: center;
  display: flex;

  img {
    width: 300px;
    box-shadow: 0 0 20px grey;
  }

  p {
    text-align: map-get($map: $estilo, $key: posicion);
    font-size: $tam-fuente-textosp;
    padding: 20px 30px 80px 30px;

    /* margin: 20px 0 80px 0 */
  }
}

/* Fin de Inicio */


/* Seccion Nuestros Productos */

.productosGrid {
  grid-area: productos;
}

.tituloNuestroP {
  background-color: map-get($map: $estilo, $key: color);
  width: 100%;
  height: 10%;
  margin: 30px 0 30px 0;

  h1 {
    @include titulosh;
    padding-bottom: 20px;
  }

  p {
    text-align: map-get($map: $estilo, $key: posicion);
    font-size: $tam-fuente-textosp;
    padding-bottom: 10px;
  }
}

.productoPrincipal {
  background-color: map-get($map: $estilo, $key: color);
  width: 70%;
  height: 45%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 20px;
}

.carousel {
  margin: 50px 25% 50px 25%;
  width: 50%;
  box-shadow: 0 0 10px #24303c;

  img {
    opacity: 0.9;
  }

  a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
  }

  p {
    margin: 5px 5px 20px 5px;
  }
}

.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
}

/* Fin de Productos */

/* Comienzo Servicios */

/* Seccion servicios */

.serviciosGrid {
  grid-area: servicios;
}

.serviciosTitulo {
  @extend .extendAgg;
  margin: 30px 0 30px 0;

  h1 {
    @include titulosh
  }
}

/* MARKETING CONTENT */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;

  p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
}

/* Featurettes */

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  letter-spacing: 0 0.5rem;
  margin-top: 15%;
}

.dos {
  letter-spacing: 0 0.5rem;
  margin-top: 5%;
}

.serv a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Fin de Servicios */

/* Comienzo Ubicacion */

/* Seccion de Ubicacion */

.ubicacionGrid {
  grid-area: ubicacion;
}

.ubicaacionTexts {
  @extend .extendAgg;
  margin: 30px 0 30px 0;
}

.ubicacionTexts {
  h1 {
    @include titulosh;

    /* padding-top: 30px; */
    margin: 20px 0 30px 0;
  }

  p {
    font-size: $tam-fuente-textosp;
    text-align: map-get($map: $estilo, $key: posicion);
  }
}

.ubicacionMaps {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.googleMaps {
  width: 50%;
}

/* Seccion de contacto */

.contactoGrid {
  grid-area: contacto;
}

.contactoPage {
  @extend .extendAgg;
  margin: 30px 0 30px 0;
}

.contactTexts {
  h1 {
    @include titulosh
  }

  p {
    text-align: map-get($map: $estilo, $key: posicion);
    font-size: $tam-fuente-textosp;
    padding-top: 30px;
  }
}

.formContact {
  width: 35%;
  background-color: #24303c;
  padding: 60px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 200px;
  border-radius: 4px;
  color: white;
  box-shadow: 4px 4px 4px #000;

  h2 {
    margin-bottom: 20px;
    font-size: 22px;
  }
}

.cajas {
  width: 95%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 40px;
  border: 1px solid white;
  font-size: 18px;
  color: white;
}

.formContact .boton {
  width: 100%;
  background: #c2c5aa;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

/* Seccion footer */

footer {
  background: #414141;
  padding: 20px 0 0 0;
  margin: auto;
  width: 100%;
  height: 100%;
  grid-area: footer;
}

.contenedor-footer {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.contenido-footer {
  h3 {
    color: white;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 3px solid rgb(93, 93, 233);
  }

  p {
    color: #cccccc;
  }

  img {
    width: 40px;
    padding: 5px;
  }
}

.tituloFinal {
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
  margin: 10px 0 0 0;
  color: #9e9797;
}

.bodyPadreGrid {
  display: grid;
  grid-template-areas: "nav" "nosotros" "cliente" "footer";
}

.bodyPadreGridProductos {
  display: grid;
  grid-template-areas: "nav" "productos" "footer";
}

.bodyPadreGridService {
  display: grid;
  grid-template-areas: "nav" "servicios" "footer";
}

.bodyPadreGridUbi {
  display: grid;
  grid-template-areas: "nav" "ubicacion" "footer";
}

.bodyPadreGridContact {
  display: grid;
  grid-template-areas: "nav" "contacto" "footer";
}

@import "screen1440";

@import "screen990";

@import "screen768";

@import "screen480";
